/* Whole html*/
html {
    font-family: 'Titillium Web', sans-serif;
}

/*Body of the Page*/
body {
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Instruction label*/
.instruction{
    background-size: auto;
    padding: 8px;
    display: block;
    text-align: center;
    /*font-weight: bold;*/
    font-size: 0.85em;
    background-color : #2A1503;
    color: white;
}

/*Container containing the video,rectangle and its caption*/
#demo-container{
    /*align-self: center;
    align-items: center;*/
    width:400px;
    margin: 0 auto;
    height:0;
}

/*Reactangular canvas to fit the face*/
#rectangle{
    position: absolute;
    z-index: 10;
    width: 12%;
    height: 25%;
    margin: 6% 44% 69% 44%;
    border: 2px solid white;

}
/*
#leftEye{
    border: 2px solid white;
    position: absolute;
    margin:16% 51.2% 76% 54% ;
    z-index: 10;
}
#rightEye{
    border: 2px solid white;
    position: absolute;
    z-index: 10;
}*/
/*Caption for the above rectangle*/
#rectCaption{
    z-index: 10;
    position: absolute;
    margin-top: 4.8%;
    margin-left: 44%;
    font-size: small;
    font-weight: bold;
    color: white;
}

/*Video from the webcam*/
#video, #canvas,#canvas1{
  /*  padding: 3.2% 5% 80% 5%;*/
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: auto;
}
#canvas, #canvas1{
    display:none; 
}

/**/
.can2 {
    visibility: hidden;
}

/*Welcome Note for registerers*/
#welcome{
    color: #E1DC01;
    position: relative;
    padding-top: 27.5%;
    text-align: center;
}

/*Text field for name*/
.field-wrap{
    position: relative;
    margin-top: 2%;
    margin-left: 25%;
}
/*#pName{

    background-color : #433706;
    border-color: #E1DC01;
    height: 25px;
    text-align: center;
    border-radius: 9999em;
    color: #E1DC01;
}
#pName:focus{
    box-shadow: 0 0 0 3px #fff,
    0 0 0 4px #fff,
    3px -3px 30px #A8C200,
    -3px 3px 30px #E1DC01;
}*/

/*Register Button*/
#regBtn{
    background: #09F6FD;/*linear-gradient(24deg,lawngreen,#0000A0);*/
    border-width: 0;
    border-radius: 0 0 500px 500px;
    font-weight: bolder;
    color: blue;
    height: 60px;
    cursor: pointer;
    width: 20%;
    position:relative;
    margin-top: 9.5%;
    margin-left: 40%;
    box-shadow: 2px 2px 10px 10px #19B7DA;

}
#regBtn:active{
    box-shadow: 2px 2px 10px 10px #19B7DA;
}


/*Style specific to mobile devices*/
@media only screen and (max-width:768px) {

    body{
        width:100%;
        height: 100%;
        background-size: cover;
        background-position: center top;
    }
    video{
        border-radius: 1em;
        padding: 30% 12.5% 35% 12.5%;
        margin: 0;
        display: block;
        width: 327px;
        height: 260px;
        position: relative;
    }
    .tab-content , .demo-frame, .demo-container{
    height:250px;
  }
   /*Video from the webcam*/
#video, #canvas,#canvas1{
  /*  padding: 3.2% 5% 80% 5%;*/
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: auto;
}
#canvas, #canvas1{
    display:none; 
}
    #demo-container{
    /*align-self: center;
    align-items: center;*/
    width:400px;
    margin: 0 auto;
    height:0;
}
    #rectCaption{
        z-index: 10;
        position: absolute;
        margin-top: 15%;
        margin-left: 22.5%;
        font-size: small;
        font-weight: bold;
        color: white;
    }

    #rectangle{
        position: absolute;
        color: white;
        z-index: 10;
        width: 55%;
        height: 27%;
        margin: 19% 22.5% 54% 22.5%;
        border: 2px solid white;

    }

    #welcome{
        color: #E1DC01;
        position: relative;
        padding: 5px;
        margin-top: 102%;
        text-align: center;
        font-size: 0.77em;
        font-weight: bold;
    }

    .field-wrap{
        position: relative;
        margin-top: 3%;
        margin-left: 10%;
    }
    /*#pName{

        background-color : #433706;
        border-color: #E1DC01;
        width: 100%;
        height: 15px;
        font-size: small;
        text-align: center;
        border-radius: 9999em;
        color: #E1DC01;
    }
    #pName:focus{
        box-shadow: 0 0 0 3px #fff,
        0 0 0 4px #fff,
        3px -3px 30px #A8C200,
        -3px 3px 30px #E1DC01;
    }*/

    #regBtn{
        background-color: #09F6FD;;
        border-width: 0;
        border-radius: 0 0 500px 500px;
        font-weight: bold;
        color: blue;
        height: 60px;
        cursor: pointer;
        width: 20%;
        font-size: 0.7em;
        position:relative;
        margin-top: 31%;
        margin-left: 40%;
        box-shadow: 2px 2px 5px 5px #19B7DA;

    }
    #regBtn:active{
        box-shadow: 2px 2px 5px 5px #19B7DA;
    }
}

/*loading page animation */


#load {
  position:absolute;
  width:600px;
  height:36px;
  left:50%;
  top:40%;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  font-family:Helvetica, Arial, sans-serif;
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:#35C4F0;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
	35% {
		left: 41%; 
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%; 
		-moz-transform:rotate(0deg); 
		-webkit-transform:rotate(0deg); 
		-o-transform:rotate(0deg);
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%; 
		-moz-transform:rotate(-180deg); 
		-webkit-transform:rotate(-180deg); 
		-o-transform:rotate(-180deg); 
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-moz-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-moz-transform:rotate(0deg); 
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%; 
		-moz-transform:rotate(0deg); 
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%; 
		-moz-transform:rotate(-180deg); 
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-webkit-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-webkit-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	65% {
		left:59%; 
		-webkit-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%;
		-webkit-transform:rotate(-180deg); 
		transform:rotate(-180deg); 
		opacity:0;
	}
}

@-o-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-o-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	65% {
		left:59%; 
		-o-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%; 
		-o-transform:rotate(-180deg); 
		transform:rotate(-180deg); 
		opacity:0;
	}
}

*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    overflow-y: scroll;
  }
  
  body {
    background: white;
    font-family: 'Titillium Web', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #1ab188;
    transition: .5s ease;
  }
  .demo-frame {
    position: relative;
  }
  #cam {
    background: #fff;
    height:300px;
  }
  a:hover {
    color: #179b77;
  }
.tab-content , .demo-frame, .demo-container{
    height:250px;
  }  
  .can2 {
    visibility: hidden;
  }
  .form {
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }
  
  
  h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
  }
  
  label {
    position: relative;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    left: 0px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
  }
  label .req {
    margin: 2px;
    color: #1ab188;
  }
  
  label.highlight {
    color: #ffffff;
  }
  /*input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
  }
  input:focus, textarea:focus {
    outline: 0;
    border-color: #1ab188;
  }
  */
  textarea {
    border: 2px solid #a0b3b0;
    margin-left: -10px;
    resize: vertical;
  }
  
  .field-wrap {
    position: relative;
    margin-bottom: 9%;
    margin-left: 10%;
  }
  
  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
  }
  .button:hover, .button:focus {
    background: #179b77;
  }
  
  .button-block {
    display: block;
    width: 100%;
  }
  
