<html>
<head>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron text-center">
  <h1 class="display-3">Sorry !</h1>
  <p class="lead"><strong>Face-registration is unsuccessful !! </strong> 
  <hr>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Register again</a>
  </p>
</div>
</body>
</html>
